h1{
    color: darkblue;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
        
}
h2{
    color: black;
    font-family: monospace;
    font: ;
    font-size: 1.5em;
    
}
p{
    color: black;
    text-align: justify;
    font: ;
    font-family: monospace;
    font-size: 1.2em;
}
ul{
    color: black;
    font-size: 1.2em;
    font: ;
    font-family: monospace;
    
}
.fabiano{
    
}
body{
    background: rgb(255,255,255);
}
